$primaryColor: #000;
$secondaryColor: #fff;
$thirdColor: rgba(0, 0, 0, 0.6);
$firthColor: #e7fafe;

$fontSizeFirst: 14px;
$fontSizeSecond: 16px;
$fontSizeThird: 18px;
$fontSizeFourth: 24px;

$fontWeightFirst: 400;
$fontWeightSecond: 500;
$fontWeightThird: 600;

$backColorFirst: rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%;
$backColorSecond: rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%;
$backColorThird: rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%;
$backColorFourth: rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%;
$backColorFifth: rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%;
$backColorSixth: rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%;
